<a href="https://colab.research.google.com/github/GTD2101-ACD-AB-EJ23/04-pandas-clean-20170810/blob/main/01.%20MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejando Datos Extraviados

En este JNB se revisará el tema de manejo de datos extraviados.

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
#https://raw.githubusercontent.com/GTD2101-ACD-AB-EJ23/04-pandas-clean-VBatiz/main/data/NFL.csv

In [ ]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("https://raw.githubusercontent.com/GTD2101-ACD-AB-EJ23/04-pandas-clean-VBatiz/main/data/NFL.csv")

# set seed for reproducibility
np.random.seed(0)

In [ ]:
nfl_data.head()

In [ ]:
version https://git-lfs.github.com/spec/v1
oid sha256:2433f41d45abe53ba842b5ddc529d574d0482e62362de83abfc8b821be3538da
size 275530460

In [ ]:
!wget --no-check-certificate \
    https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv \
    -O titanic.csv

--2023-03-22 05:41:13--  https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.001s

2023-03-22 05:41:13 (49.4 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [ ]:
titanic_data = pd.read_csv("titanic.csv")

In [ ]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
valores_nulos = titanic_data.isnull().sum()
valores_nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
titanic_data.shape

(891, 12)

In [ ]:
total_celdas = np.product(titanic_data.shape)
print(total_celdas)

10692

In [ ]:
total_nulos = valores_nulos.sum()
print(total_nulos)

866

In [ ]:
print(f"El porcentaje de celdas vacías es: {total_nulos/total_celdas*100}%")

El porcentaje de celdas vacías es: 8.099513655069211%

In [ ]:
titanic_data_no_nulos = titanic_data.dropna()

In [ ]:
print(titanic_data_no_nulos.shape)
print(len(titanic_data_no_nulos))

(183, 12)
183

In [ ]:
titanic_data_no_nulos.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
titanic_data_col_nonulas = titanic_data.dropna(axis=1)
titanic_data_col_nonulas.head(1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.25

In [ ]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
titanic_data["Cabin"].fillna("Unknown", inplace = True)

In [2]:
import pandas as pd

In [4]:
nfl_data = pd.read_csv("./data/NFL.csv")

FileNotFoundError: ignored